.response-box {
  background-color: aquamarine;
  width: 200px;
  height: 200px;
  text-align:center;
  margin: auto;
}

.user-input {
  width: 200px;
}

.input-guess {
}

.clear-input {
}

.reset {
}

header {
  text-align: center;
}

body {
  background: url(numbers.jpg);
  background-size: cover;
  font-family: 'Oswald', sans-serif;
}

.button-wrapper {
  text-align: center;
}
